:root{
    --ms_col_first: #009688;
    --ms_col_sec: #DADBD3;
    --ms_col_third: #8EDAFC;
    --ms_col_fourth: #eaeaea;
    --ms_col_fifth: #b1b1b1;
}

*{
    /* outline: 1px solid red; */
}

/* background */

div#green_bar{
    height: 100px;
    width: 100vw;
    background-color: var(--ms_col_first);
    top: 0;
    left: 0;
}

div#grey_bar{
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--ms_col_sec);
}


div#root div.container-lg{
    background-color: var(--ms_col_fourth);
    top: 5vh;
}

/* contacts column */

div#user_section img{
    width: 15%
}

div#user_buttons>i{
    color: var(--ms_col_fifth);
}

div#notification{
    background-color: var(--ms_col_third);
}

i.fa-solid.fa-bell-slash{
    color: var(--ms_col_third);
    width: 50px;
    height: 50px;
    background-color: #f2fbff;
}

div.input-group>*{
    background-color: #ffffff;
}

div#contacts img{
    width: 15%;
}

.ms_contact_border{
    border-bottom: 1px solid var(--ms_col_fifth);
}

/* common classes */
.ms_bg_grey{
    background-color: var(--ms_col_fourth);
}

.ms_fs_08rem{
    font-size: 0.8rem;
}