:root{
    --ms_col_first: #009688;
    --ms_col_sec: #DADBD3;
    --ms_col_third: #8EDAFC;
    --ms_col_fourth: #eaeaea;
    --ms_col_fifth: #b1b1b1;
}

*{
    /* outline: 1px solid red; */
}

/* background */

div#green_bar{
    height: 100px;
    width: 100vw;
    background-color: var(--ms_col_first);
    top: 0;
    left: 0;
}

div#grey_bar{
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--ms_col_sec);
}


div#root div.container-lg{
    background-color: var(--ms_col_fourth);
    top: 5vh;
}

#user_section, #contact_info{
    height: 80px;
}

/* contacts column */

div#user_section img{
    width: 15%
}

div#user_buttons>i, #contact_buttons>i, #user_input>i{
    color: var(--ms_col_fifth);
}

div#notification{
    background-color: var(--ms_col_third);
}

i.fa-solid.fa-bell-slash{
    color: var(--ms_col_third);
    width: 50px;
    height: 50px;
    background-color: #f2fbff;
}

div.input-group>*{
    background-color: #ffffff;
}

div#contacts{
    overflow-y: scroll;
    height: 70vh;
}

div#contacts img{
    width: 15%;
}

.ms_contact_border{
    border-bottom: 1px solid lightgrey;
}

.ms_contact{
    cursor: pointer;
}

/* Chat column */

div#chat_column img{
    width: 10%;
}

div#chat{
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

.messageOut{
    background-color: #D5F9BA;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-self: flex-end;   
    justify-self: flex-start;
}

.messageIn{
    background-color: #F2FBFF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-self: flex-start;
    justify-self: flex-start;
}

.ms_time_message{
    bottom: 5%;
    right: 5%;
}

#user_input{
    background-color: #F3EEEA;
    height: 60px;
}

#user_input input{
    height: 100%;
}
/* common classes */

.ms_bg_grey{
    background-color: var(--ms_col_fourth);
}

.ms_fs_08rem{
    font-size: 0.8rem;
}

.ms_fs_05rem{
    font-size: 0.5rem;
}

.ms_border_left{
    border-left: 1px solid lightgrey;
}

.ms_w_15{
    width: 15%;
}

.ms_w_40{
    width: 40%;
}