<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Vue 2.X -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="root" class="position-relative">
        <div id="green_bar" class="position-absolute"></div>
        <div id="grey_bar" class="position-absoulute"></div>
        <div class="d-flex justify-content-center">
            <div class="container-lg bg-white position-fixed" >
                <div class="row">
                    <!-- left column -->
                    <div id='contacts_column' class="col-4 d-flex flex-column px-0">
                        <!-- user section -->
                        <div id='user_section' class="col-12 px-3 py-2 d-flex justify-content-between ms_bg_grey">
                            <div class="d-flex align-items-center">
                                <img :src="completeImgPath(user.avatar)" alt="" class="rounded-circle">
                                <h5 class="mb-0 ms-2 fs-6">{{user.name}}</h5>
                            </div>
                            <div id='user_buttons' class="d-flex align-items-center justify-content-around ms_w_40 ">
                                <i class="fa-solid fa-circle-notch fs-5"></i>
                                <i class="fa-solid fa-message fs-5"></i>
                                <i class="fas fa-ellipsis-v fs-5"></i>
                            </div>
                        </div>
                        <!-- notifications cta -->
                        <div id="notification" class="col-12 p-3 d-flex">
                            <div>
                                <i class="fa-solid fa-bell-slash rounded-circle d-flex align-items-center justify-content-center fs-4"></i>
                            </div>
                            <div class="ms-2 d-flex flex-column justify-content-center">
                                <h5 class="mb-0 fs-6 fst-normal">Ricevi notifiche di nuovi messaggi</h5>
                                <a href="#" class="text-muted">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <!-- search bar -->
                        <div id="search_bar" class="ms_bg_grey">
                            <div class="input-group p-2">
                                <button class="btn px-4 " type="button"><i class="fa-solid fa-magnifying-glass text-black-50"></i></button>
                                <input type="text" class="form-control border-0" placeholder="Cerca o inizia nuova chat" aria-label="Example text with button addon" aria-describedby="button-addon1"
                                v-model="searchValue" @keyUp="searchContact(searchValue)">
                            </div>
                        </div>
                        <!-- contacts -->
                        <div id="contacts" class="col-12 flex-grow-1">
                            <div v-for="(contact, index) in contacts" class="ms_contact px-2 py-3 ms_contact_border d-flex" @click="setActiveIndex(index)"
                            v-if="contact.visible" :class="{ms_active : activeIndex == index}">
                                <div class="d-flex align-items-center">
                                    <img :src="completeImgPath(contact.avatar)" alt="" class="w-10 rounded-circle">
                                    <div class="ms-2 d-flex flex-column">
                                        <span class="fs-6">{{contact.name}}</span>
                                        <span class="ms_fs_08rem text-black-50">{{contact.messages[contact.messages.length - 1].message}}</span>
                                    </div>
                                </div>
                                <div id='contact_time' class="d-flex align-items-start">
                                    <span class="ms_fs_08rem text-black-50">{{getTimeFromDate(contact.messages[contact.messages.length - 1].date)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right column  -->
                    <div id='chat_column' class="col-8 d-flex flex-column px-0 ms_border_left">
                        <!-- contact info -->
                        <div id="contact_info" class=" col-12 p-2 d-flex justify-content-between ms_bg_grey">
                            <div class="d-flex align-items-center">
                                <img :src="completeImgPath(contacts[activeIndex].avatar)" alt="" class="rounded-circle">
                                <div class="ms-2">
                                    <h5 class="mb-0 fs-6">{{contacts[activeIndex].name}}</h5>
                                    <span>{{'Ultimo accesso il ' + getDateFromDate(contacts[activeIndex].messages[contacts[activeIndex].messages.length - 1].date) + ' alle ore ' + getTimeFromDate(contacts[activeIndex].messages[contacts[activeIndex].messages.length - 1].date)}}</span>
                                </div>
                            </div>
                            <div id='contact_buttons' class="d-flex align-items-center justify-content-around ms_w_15 ">
                                <i class="fa-solid fa-magnifying-glass fs-5"></i>
                                <i class="fa-solid fa-paperclip fs-5"></i>
                                <i class="fas fa-ellipsis-v fs-5"></i>
                            </div>
                        </div>
                        <!-- chat -->
                        <div  id="chat" class="flex-grow-1 px-5 py-2 d-flex flex-column col-12" >
                            <div v-for="(message , index) in contacts[activeIndex].messages" class="d-flex position-relative ms_w_40 position-relative" :class="{messageOut : message.status == 'sent', messageIn : message.status == 'received' }"
                            @click="interactToggleMenu(index)">
                                <span class="w-75">{{message.message}}</span>
                                <span class="ms_time_message position-absolute ms_fs_05rem">{{getTimeFromDate(message.date)}}</span>
                                <div class="position-absolute ms_toggle_menu" :class="{activeToggle: isToggleActive(index)}">
                                    <div class="p-3" @click="delMessage(index)">Elimina Messaggio</div>
                                    <div class="p-3">Info Messaggio</div>
                                </div>
                            </div>
                        </div>
                        <!-- user input -->
                        <div id="user_input" class="col-12 p-2 d-flex justify-content-around align-items-center">
                            <i class="fa-solid fa-face-smile fs-4"></i>
                            <input type="text" class="w-75 bg-white border-0 px-4 rounded-3" placeholder="Scrivi un messaggio" aria-label="Example text with button addon" aria-describedby="button-addon1"
                            v-model="newMessage" @keyup.enter="pushNewUserMessage(newMessage) ; setDelayReply(contacts[activeIndex].messages[contacts[activeIndex].messages.length - 1])">
                            <i class="fa-solid fa-microphone fs-4"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>